############################################
# REQUIRED - Fill in the following values
############################################
SWAPESCROW_RPC_URL=
DEFAULT_ACCOUNT=
KEY=
DEFAULT_GAS=5000000
DEFAULT_GAS_PRICE=0
FILTER_GENESIS_BLOCK_NUMBER=

############################################
# NOT REQUIRED - Uncomment to override
############################################
##################
# MongoDB
##################
# MONGO_URL=
# Example MONGO_URL=mongodb://admin:admin@timber-mongo-server:27017

##################
# Zokrates Worker
##################
# ZOKRATES_IMAGE=
